.header {
  position: sticky;
  top: 0;
  padding: 16px 0 12px 0;
  border-bottom: 1px solid var(--color-border-primary);
}

.header .header__menu-button {
  display: none;
}

.header__content-block {
  display: grid;
  grid-template-columns: var(--space-column-3) 1fr var(--space-column-3);
  gap: 12px;
}

.header__content-block + .header__content-block {
  padding-top: 16px;
}

/* Contants */
.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-contacts__line {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header-contacts__line .button {
  padding: 0;
}

/* Logo */
.header__logo {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

/* Social */
.header__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

/* Navigation */
.header__nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header__nav li {
  list-style-type: none;
}

.header__nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  min-height: 28px;
  padding: 0 12px;
  border-radius: var(--border-radius-e);
  color: var(--color-elem-primary);
  font-size: var(--font-size-span-m);
  font-weight: 500;
  text-align: center;
  letter-spacing: var(--font-letter-spacing);
  text-decoration: none;
  transition: var(--transition-m);
  width: 100%;
  min-width: max-content;
}

.header__nav > ul > li {
  position: relative;
}

.header__nav > ul > li > a {
  white-space: nowrap;
  transition: var(--transition-m);
}

.header__nav > ul > li:has(ul) > a::after {
  content: "";
  --icon-filter-blue: brightness(380%) hue-rotate(30deg) contrast(150%);

  display: inline-block;
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-size: contain;
  background-image: url("../../images/icons/chervon-down.svg");
}

.header__nav a:hover,
.header__nav a:active {
  color: var(--color-elem-accent-primary-alt);
  text-decoration: underline dotted;
}

.header__nav > ul > li > a:hover::after,
.header__nav > ul > li > a:active::after {
  filter: var(--icon-filter-blue);
}

.header__nav > ul > li > ul {
  position: absolute;
  top: calc(100% + 4px);
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 50%;
  padding: 8px 4px;
  transform: translate(-50%, 0);
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-button);
  transition: var(--transition-m);
}

.header__nav > ul > li > ul::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 8px;
}

.header__nav > ul > li > ul::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 8px;
  height: 8px;
  border-radius: var(--border-radius-s);
  border-left: 1px solid var(--color-border-primary);
  border-top: 1px solid var(--color-border-primary);
  background-color: var(--color-bg-primary);
}

.header__nav > ul > li:not(:hover) > ul {
  transform: translate(-50%, -12px);
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

/* ---------- Adaptation ---------- */

@media screen and (max-width: 1280px) {
  .header__content-block {
    grid-template-columns: var(--space-column-2) 1fr var(--space-column-2);
  }

  .header .header__menu-button {
    display: flex;
  }

  .header .header__contacts {
    display: none;
  }

  .header__actions {
    grid-column: 1/2;
    grid-row: 1;
  }

  .header__actions {
    justify-content: flex-start;
  }

  .header .button.header__target-button {
    position: absolute;
    right: var(--padding-content-area);
  }
}
