.header {
  position: sticky;
  top: 0;
  padding: 16px 0 12px 0;
  border-bottom: 1px solid var(--color-border-primary);
}

.header__content-block {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  gap: 12px;
}

.header__content-block + .header__content-block {
  padding-top: 16px;
}

/* Contants */
.header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-contacts__line {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header-contacts__line .button {
  padding: 0;
}

/* Logo */
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

/* Social */
.header__social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

/* Navigation */
.header__nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.header__nav li {
  list-style-type: none;
}

.header__nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  height: 28px;
  padding: 0 12px;
  border-radius: var(--border-radius-e);
  color: var(--color-elem-primary);
  font-size: var(--font-size-span-m);
  font-weight: 500;
  letter-spacing: var(--font-letter-spacing);
  text-decoration: none;
  transition: var(--transition-m);
}

.header__nav > ul > li {
  position: relative;
}

.header__nav > ul > li::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 8px;
}

.header__nav > ul > li > a {
  white-space: nowrap;
  transition: var(--transition-m);
}

.header__nav > ul > li:has(ul) > a::after {
  content: "";
  --icon-filter-blue: brightness(380%) hue-rotate(30deg) contrast(150%);

  display: inline-block;
  width: 16px;
  height: 16px;
  aspect-ratio: 1/1;
  background-size: contain;
  background-image: url("../../images/icons/chervon-down.svg");
}

.header__nav a:hover,
.header__nav a:active {
  color: var(--color-elem-accent-primary-alt);
  text-decoration: underline dotted;
}

.header__nav > ul > li > a:hover::after,
.header__nav > ul > li > a:active::after {
  filter: var(--icon-filter-blue);
}

.header__nav > ul > li > ul {
  position: absolute;
  top: calc(100% + 4px);
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, 0);
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-button);
  transition: var(--transition-m);
}

.header__nav > ul > li:not(:hover) > ul {
  transform: translate(-50%, -12px);
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
