.map:not(:hover) .map__abled.path_is-active-default {
  fill: var(--color-elem-accent-secondary);
}

.map__abled {
  fill: var(--color-bg-accent);
  stroke: var(--color-elem-accent-secondary);
  stroke-width: 2;
  transition: var(--transition-m);
}
.map__abled:hover,
.map__abled:active {
  fill: var(--color-elem-accent-secondary);
}

.map__tooltip {
  position: fixed;
  z-index: 10;
  display: inline-flex;
  transform: translate(0, -100%);
  border-radius: 40px;
  margin-bottom: 8px;
  opacity: 0;
  transition: opacity 0.2s ease;
  animation: tooltip-appear 0.2s ease;
  box-shadow: var(--shadow-tooltip);
  pointer-events: auto;
}

.map-tooltip__label {
  --button-bg: var(--color-bg-primary);
  cursor: default;
}

.map__tooltip .button {
  white-space: nowrap;
}

.map__tooltip .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

@keyframes tooltip-appear {
  from {
    opacity: 0;
    transform: translate(0%, -90%);
  }
  to {
    opacity: 1;
    transform: translate(0%, -100%);
  }
}
