.reviews__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-column-gap);
  padding-top: var(--gap-blocks);
  padding-bottom: var(--gap-sections);
}

.reviews__grid .pagination {
  grid-column: 1/-1;
  padding-top: calc(var(--gap-blocks) - var(--space-column-gap));
}

.reviews .section-header__actions {
  gap: 8px 4px;
}

/* ---------- Adaptation ---------- */

@media screen and (max-width: 1432px) {
  .reviews__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .reviews__button-add-review {
    width: 100%;
    order: 1;
  }

  .reviews__button-label {
    margin-right: auto;
  }

  .reviews__grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .reviews__button-label {
    width: 100%;
  }

  .reviews__button-service {
    width: calc(50% - 2px);
  }
}
