.target-banner {
  position: relative;
}

.target-banner.has-margin-top {
  margin-top: var(--gap-sections);
}

.target-banner::after {
  content: "";
  position: absolute;
  inset: var(--gap-blocks) 0;
  background: var(--color-elem-accent-secondary);
}

.target-banner__content-wrapper {
  position: relative;
  padding-top: var(--gap-sections);
  padding-bottom: var(--gap-sections);
  background: var(--gradient-accent);
  border-radius: var(--border-radius-l);
}

.target-banner__content-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-image: url("../../images/banner-bg.jpg");
  background-size: cover;
  background-color: var(--color-elem-accent-primary);
  background-blend-mode: soft-light;
  border-radius: var(--border-radius-l);
  filter: hue-rotate(0);
  animation: 3000ms thunder-double infinite;
}

.target-banner-content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-column-gap);
  max-width: var(--space-column-8);
  margin: 0 auto;
}

.target-banner__form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.target-banner-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-l);
}

.target-banner-form__header {
  padding: 16px 0;
}

.target-banner-form__fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.target-banner__cover {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-left: var(--space-column);
}

.target-banner-cover__image {
  max-width: var(--space-column-3);
}

.target-banner-cover__slider {
  position: relative;
  max-width: var(--space-column-3);
  width: 100%;
  height: 100%;
  max-height: 120px;
  overflow: hidden;
}

.target-banner-cover-slider__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 0 0 34px;
  transform: translateX(-100%);
}

.target-banner-cover-slider__item.is-shown {
  transition: var(--transition-l);
  transform: translateX(100%);
}

.target-banner-cover-slider__item:not(.is-active, .is-shown):first-child
  ~ .target-banner-cover-slider__item:last-child,
.target-banner-cover-slider__item.is-active:first-child
  ~ .target-banner-cover-slider__item:last-child {
  transition: var(--transition-l);
  transform: translateX(100%);
}

.target-banner-cover-slider__item.is-active {
  transition: var(--transition-l);
  transform: translateX(0%);
}

.target-banner-cover-slider__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("../../images/icons/check-rounded.svg");
  filter: grayscale(1) brightness(20);
}

/* ---------- Adaptation ---------- */
@media screen and (max-width: 1024px) {
  .target-banner__cover {
    padding-left: 0;
  }
}

@media screen and (max-width: 780px) {
  .target-banner-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
