<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/root.css" />
    <link rel="stylesheet" href="assets/css/ui.css" />
    <link rel="stylesheet" href="assets/css/fonts.css" />

    <link rel="stylesheet" href="assets/css/shared/button.css" />
    <link rel="stylesheet" href="assets/css/shared/icons.css" />
    <link rel="stylesheet" href="assets/css/shared/logo.css" />
    <link rel="stylesheet" href="assets/css/shared/span.css" />
    <link rel="stylesheet" href="assets/css/shared/heading.css" />

    <link rel="stylesheet" href="assets/css/entities/content-wrapper.css" />
    <link rel="stylesheet" href="assets/css/entities/heading-block.css" />

    <link rel="stylesheet" href="assets/css/widgets/header.css" />
    <link rel="stylesheet" href="assets/css/widgets/footer.css" />
    <link rel="stylesheet" href="assets/css/widgets/banner.css" />
    <link rel="stylesheet" href="assets/css/widgets/advantages.css" />
    <link rel="stylesheet" href="assets/css/widgets/cases.css" />

    <title>Мобильное электрообеспечение</title>
  </head>
  <body>
    <header class="header">
      <div class="content-wrapper header__content-block">
        <div class="header__contacts">
          <div class="header-contacts__line">
            <a
              href="tel:+7 (495) 784-02-70"
              class="button is-style-transparent is-size-m"
              >+7 (495) 784-02-70</a
            >
            <a
              href="tel:+7 (968) 728-74-64"
              class="button is-style-transparent is-size-m"
              >+7 (968) 728-74-64</a
            >
          </div>
          <span class="span is-size-xs is-hilight">8:00-19:00 МСК</span>
        </div>
        <div class="header__logo">
          <a href="#!" class="logo-full">
            <span class="logo-full__name"
              >Мобильное эн<mark>е</mark>ргообеспечение</span
            >
            <span class="logo-full__description"
              >Аренда · продажа · обслуживание генераторов</span
            >
          </a>
        </div>
        <div class="header__actions">
          <div
            class="header__menu-button button is-aspect-ratio-1b1 is-style-bordered"
          >
            <span class="icon" data-type="hamburger"></span>
          </div>
          <a href="#!" class="button is-style-bordered header__catalog-button">
            <span class="icon" data-type="list-unordered"></span>
            Каталог
          </a>
          <a
            href="#!"
            class="button is-style-accent is-wide header__target-button"
          >
            <span class="icon" data-type="truck"></span>
            Заказать звонок
          </a>
        </div>
        <div class="header__social">
          <a
            href="#!"
            target="_blank"
            class="button is-style-secondary is-size-m is-aspect-ratio-1b1"
            ><span class="icon" data-type="telegramm"></span
          ></a>
          <a
            href="#!"
            target="_blank"
            class="button is-style-secondary is-size-m is-aspect-ratio-1b1"
            ><span class="icon" data-type="max"></span
          ></a>
          <a
            href="mailto:snab.meo@mail.ru"
            class="button is-style-transparent is-size-m"
            >snab.meo@mail.ru</a
          >
        </div>
        <nav class="header__nav">
          <ul>
            <li>
              <a href="#!">Услуги</a>
              <ul>
                <li><a href="#!">Аренда электрогенераторов</a></li>
                <li><a href="#!">Покупка электрогенераторов</a></li>
                <li><a href="#!">Обслуживание и ремонт</a></li>
              </ul>
            </li>
            <li><a href="#!">Калькуляторы</a></li>
            <li><a href="#!">Блог</a></li>
            <li><a href="#!">О компании</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="banner" class="banner">
      <div class="content-wrapper">
        <div class="banner__description">
          <h2 class="heading is-size-h1 is-white">
            Аренда и продажа дизельных электростанций в Москве <br />и западной
            части России
          </h2>
          <p class="span is-size-s">
            Доставим, установим и проведём обслуживание электрогенератора
          </p>
          <div class="banner-description__actions">
            <a href="#!" class="button is-style-primary is-size-l"
              ><span class="icon" data-type="truck"></span>Заказать звонок</a
            >
            <a href="#!" class="button is-style-transparent is-size-l"
              >Выбрать подходящий генератор</a
            >
          </div>
        </div>
        <img
          class="banner__cover"
          src="assets/images/examples/generator-1.png"
          alt="Генератор"
        />
      </div>
    </section>
    <section id="advantages" class="advantages">
      <div class="content-wrapper">
        <div class="advantages__item">
          <div class="advantages-item__cover">
            <span class="icon is-color-hilight" data-type="phone"></span>
          </div>
          <div class="advantages-item__description">
            <h3 class="heading is-size-h4">Поможем выбрать</h3>
            <p class="span is-size-s is-hilight">
              Поможем с выбором генератора и забронируем его онлайн или по
              телефону
            </p>
          </div>
        </div>
        <div class="advantages__item">
          <div class="advantages-item__cover">
            <span class="icon is-color-hilight" data-type="truck"></span>
          </div>
          <div class="advantages-item__description">
            <h3 class="heading is-size-h4">Доставим в удобное время</h3>
            <p class="span is-size-s is-hilight">
              Мы доставим генератор в удобное для вас время и место в любую
              точку западной России
            </p>
          </div>
        </div>
        <div class="advantages__item">
          <div class="advantages-item__cover">
            <span
              class="icon is-color-hilight"
              data-type="checkbox-checked"
            ></span>
          </div>
          <div class="advantages-item__description">
            <h3 class="heading is-size-h4">Установим</h3>
            <p class="span is-size-s is-hilight">
              Наши специалисты установят и подключат генератор, проверив его
              работоспособность.
            </p>
          </div>
        </div>
        <div class="advantages__item">
          <div class="advantages-item__cover">
            <span class="icon is-color-hilight" data-type="cog"></span>
          </div>
          <div class="advantages-item__description">
            <h3 class="heading is-size-h4">ТО и гарантийный ремонт</h3>
            <p class="span is-size-s is-hilight">
              Проведём техническое обслуживание и поможем, если возникнут
              проблемы
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="cases" class="cases">
      <div class="content-wrapper">
        <div class="heading-block">
          <h2 class="heading is-size-h2">
            Дизель генераторы для вашего объекта
          </h2>
        </div>
        <div
          class="cases-block"
          data-image="assets/images/examples/example-case.png"
        >
          <img
            class="cases-block__cover"
            src="assets/images/examples/example-case.png"
            alt="Кейсы и портфолио"
          />
          <a href="#!" class="cases-block__item">
            <h3 class="cases-block-item__heading heading is-size-h4">
              Строительство
            </h3>
            <p class="cases-block-item__description span is-hilight">
              Энергоснабжение бытовок, инструмента, освещения на объектах без
              электричества.
            </p>
            <div class="cases-block-item__action">
              <div class="button is-size-l is-style-bordered is-rounded">
                Проекты<span class="icon" data-type="arrow-right-md"></span>
              </div>
            </div>
          </a>
          <a href="#!" class="cases-block__item">
            <h3 class="cases-block-item__heading heading is-size-h4">
              Промышленность
            </h3>
            <p class="cases-block-item__description span is-hilight">
              Резервное питание для цехов, заводов, серверных. «Ни одного часа
              простоя»
            </p>
            <div class="cases-block-item__action">
              <div class="button is-size-l is-style-bordered is-rounded">
                Проекты<span class="icon" data-type="arrow-right-md"></span>
              </div>
            </div>
          </a>
          <a href="#!" class="cases-block__item">
            <h3 class="cases-block-item__heading heading is-size-h4">
              События и мероприятия
            </h3>
            <p class="cases-block-item__description span is-hilight">
              Электростанции для фестивалей, концертов, свадеб и уличных
              праздников
            </p>
            <div class="cases-block-item__action">
              <div class="button is-size-l is-style-bordered is-rounded">
                Проекты<span class="icon" data-type="arrow-right-md"></span>
              </div>
            </div>
          </a>
          <a href="#!" class="cases-block__item">
            <h3 class="cases-block-item__heading heading is-size-h4">
              ЖКХ и муниципальные объекты
            </h3>
            <p class="cases-block-item__description span is-hilight">
              Аварийное обеспечение больниц, котельных, школ, ТСЖ
            </p>
            <div class="cases-block-item__action">
              <div class="button is-size-l is-style-bordered is-rounded">
                Проекты<span class="icon" data-type="arrow-right-md"></span>
              </div>
            </div>
          </a>
          <a href="#!" class="cases-block__item">
            <h3 class="cases-block-item__heading heading is-size-h4">
              Торговля и ритейл
            </h3>
            <p class="cases-block-item__description span is-hilight">
              Поддержание работы торговых центров, супермаркетов, холодильных
              установок при отключениях
            </p>
            <div class="cases-block-item__action">
              <div class="button is-size-l is-style-bordered is-rounded">
                Проекты<span class="icon" data-type="arrow-right-md"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer__content">
        <div class="content-wrapper">
          <div class="footer-content__logo">
            <a href="#!" class="logo-full">
              <span class="logo-full__name"
                >Мобильное эн<mark>е</mark>ргообеспечение</span
              >
            </a>
          </div>
          <div class="footer-content__info">
            <div class="footer-content-info__location">
              <span class="span is-size-xs is-hilight">Юридический адрес</span>
              <span class="span is-size-s"
                >Московская область, город Чехов, Симферопольское шоссе, дом
                3А</span
              >
            </div>
            <div class="footer-content-info__contacts">
              <div class="footer-contacts-line">
                <div
                  class="footer-contacts-line__icon button is-size-s is-style-transparent is-hilight is-aspect-ratio-1b1"
                >
                  <span class="icon" data-type="phone"></span>
                </div>
                <a
                  href="tel:+7 (968) 728-74-64"
                  class="button is-size-s is-style-transparent"
                  target="_blank"
                  >+7 (968) 728-74-64
                </a>
                <a
                  href="tel:+7 (495) 784-02-70"
                  class="button is-size-s is-style-transparent"
                  target="_blank"
                  >+7 (495) 784-02-70
                </a>
              </div>
              <div class="footer-contacts-line">
                <div
                  class="footer-contacts-line__icon button is-size-s is-style-transparent is-hilight is-aspect-ratio-1b1"
                >
                  <span class="icon" data-type="email"></span>
                </div>
                <a
                  href="mailto:snab.meo@mail.ru"
                  target="_blank"
                  class="button is-size-s is-style-transparent"
                  >snab.meo@mail.ru
                </a>
              </div>
            </div>
            <div class="footer-content-info__socials">
              <a
                href="#!"
                target="_blank"
                class="button is-size-m is-style-bordered is-aspect-ratio-1b1"
                ><span class="icon" data-type="telegramm"></span></a
              ><a
                href="#!"
                target="_blank"
                class="button is-size-m is-style-bordered is-aspect-ratio-1b1"
                ><span class="icon" data-type="max"></span
              ></a>
            </div>
          </div>
          <div class="footer-content__nav">
            <ul>
              <li>
                <a href="#!">Услуги</a>
                <ul>
                  <li><a href="#!">Аренда электрогенераторов</a></li>
                  <li><a href="#!">Покупка электрогенераторов</a></li>
                  <li><a href="#!">Обслуживание и ремонт</a></li>
                  <li><a href="#!">Калькуляторы</a></li>
                </ul>
              </li>
              <li>
                <a href="#!">Портфолио</a>
                <ul>
                  <li><a href="#!">Блог</a></li>
                  <li><a href="#!">Словарь терминов</a></li>
                  <li><a href="#!">Реализованные проекты</a></li>
                  <li><a href="#!">Отзывы</a></li>
                </ul>
              </li>
              <li>
                <a href="#!">Компания</a>
                <ul>
                  <li><a href="#!">О нас</a></li>
                  <li><a href="#!">Карточка организации</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="content-wrapper">
          <span class="footer-copyright__label span is-size-xs"
            >© 2026 «ООО Мобильное энерго-обеспечение»</span
          >
          <div class="footer-copyright__actions">
            <a
              href="#!"
              class="button is-size-s is-style-transparent is-hilight"
              >Пользовательское соглашение</a
            ><a
              href="#!"
              class="button is-size-s is-style-transparent is-hilight"
              >Информация на сайте не является публичной офертой</a
            ><a
              href="#!"
              class="button is-size-s is-style-transparent is-hilight"
              >Licenses</a
            ><a
              href="https://commasoft.ru"
              target="_blank"
              class="button is-size-s is-style-transparent is-hilight"
              >Created by CommaSoftware</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/js/header.js"></script>
  </body>
</html>
