<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/root.css" />
    <link rel="stylesheet" href="assets/css/ui.css" />
    <link rel="stylesheet" href="assets/css/button.css" />
    <link rel="stylesheet" href="assets/css/icons.css" />

    <title>Мобильное электрообеспечение</title>
  </head>
  <body>
    <header class="section-header">
      <div class="content-wrapper">
        <a href="#!" class="button is-hilight"
          >Кнопка<span class="icon" data-type="cog"></span
        ></a>
        <a
          href="#!"
          class="button is-style-primary is-hilight is-wide is-size-m is-rounded"
          >Кнопка<span class="icon" data-type="cog"></span
        ></a>
        <a href="#!" class="button is-hilight is-style-transparent"
          >Кнопка<span class="icon" data-type="cog"></span
        ></a>
        <a href="#!" class="button is-style-accent is-rounded"
          >Кнопка<span class="icon" data-type="cog"></span
        ></a>
        <a href="#!" class="button is-hilight is-style-bordered"
          >Кнопка<span class="icon" data-type="cog"></span
        ></a>
      </div>
    </header>
  </body>
</html>
