.product .content-wrapper {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: var(--space-column-gap);
}

.product .content-wrapper .breadcrumbs {
  grid-column: 1/-1;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Sidebar */

.product-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: var(--space-column-gap);
}

.product-sidebar__content {
  position: sticky;
  top: calc(var(--header-height) + var(--gap-blocks));
  display: flex;
  flex-direction: column;
  gap: var(--gap-blocks);
  width: 100%;
  max-width: var(--space-column-4);
  max-height: calc(100vh - var(--header-height) - var(--gap-blocks) * 2);
  overflow-y: auto;
}

.product-sidebar .characteristics-block .button {
  margin-top: 8px;
}

.product-price {
  display: flex;
  gap: 24px;
}

.product-price__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-price-item__cost {
  color: var(--color-elem-secondary-highlight);
  font-weight: 600;
  font-size: var(--font-size-h3);
}

.product-price-item__cost.is-style-accent {
  color: var(--color-elem-accent-primary);
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-sidebar-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-sidebar-actions__row {
  display: flex;
  gap: 12px;
}

/* Slider */

.product-slider {
  position: relative;
  aspect-ratio: 16/9;
  margin-bottom: var(--gap-blocks);
}

.product-slider__items-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  overflow-y: auto;
  width: var(--space-column-plus-gap);
  padding-right: var(--space-column-gap);
}

.product-slider-item {
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 4px;
  border: 3px solid transparent;
  border-radius: var(--border-radius-m);
  cursor: pointer;
  transition: var(--transition-m);
}

.product-slider-item.is-active {
  border-color: var(--color-elem-accent-primary-alt);
}

.product-slider-item.is-active::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - var(--space-column-plus-gap) * 2);
  height: 100%;
  background-image: var(--product-slider-item-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: default;
}

.product-slider-item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Rate list */

.product__rate-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 12px;
}

.product-rate-list-item {
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-s);
  height: fit-content;
}

.product-rate-list-item summary::marker {
  content: "";
}

.product-rate-list-item .button {
  width: 100%;
  max-width: var(--space-column-4);
  --button-bg: var(--color-bg-primary);
}

.product-rate-list-item__content {
  --cms-content-color-primary: var(--color-elem-secondary);
  --cms-content-font-size: var(--font-size-span-xs);
  padding: 2px 12px 12px 12px;
}

.product-rate-list-item[open] .product-rate-list-item__content {
  animation: productRateListItemOpen var(--transition-ml);
}

@keyframes productRateListItemOpen {
  0% {
    opacity: 0;
    transform: translateY(-32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Product advantages */

.product-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
}

.product-advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  max-width: 142px;
  padding: 24px 12px 16px 12px;
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-s);
  text-align: center;
}

.product-advantages__item .icon {
  --icon-size: 32px;
}

/* ---------- Adaptation ---------- */
@media screen and (max-width: 1024px) {
  .product .content-wrapper {
    grid-template-columns: 1fr;
  }

  .product-slider {
    grid-row: 2;
    margin-bottom: 0;
  }

  .product-slider__items-block {
    width: 48px;
  }

  .product-slider-item.is-active::after {
    width: calc(100% - var(--space-column-gap) * 2 - 48px);
  }

  .product-sidebar {
    grid-row: 3;
    padding-left: 0;
    align-items: flex-start;
    margin-bottom: var(--gap-blocks);
  }

  .product-sidebar .characteristics-block {
    display: none;
  }

  .product-sidebar-actions {
    gap: 12px;
  }

  .product-sidebar__content {
    max-width: none;
  }

  .product-content {
    display: contents;
  }
}

@media screen and (max-width: 480px) {
  .product__rate-list {
    grid-template-columns: 1fr;
  }

  .product-advantages__item {
    max-width: calc(50% - 6px);
  }
}
