.characteristics-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.characteristic {
  display: inline-flex;
  align-items: center;
  padding: 2px;
  width: fit-content;
  background-color: var(--color-border-primary);
  border-radius: var(--border-radius-e);
  font-size: var(--font-size-span-xxs);
  letter-spacing: var(--font-letter-spacing);
  font-weight: 600;
}

.characteristic__label {
  color: var(--color-elem-secondary);
  margin: 0 8px;
}

.characteristic__label mark {
  color: var(--color-elem-accent-secondary);
  background: transparent;
}

.characteristic__value {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  height: 24px;
  padding: 4px 8px;
  color: var(--color-elem-primary);
  background-color: var(--color-bg-primary);
  border-radius: var(--border-radius-e);
}

.characteristic.is-style-row {
  justify-content: space-between;
  background-color: transparent;
  gap: 4px;
  width: auto;
  padding: 2px 0;
}

.characteristic.is-style-row::before {
  content: "";
  display: block;
  order: -1;
  width: 100%;
  height: var(--font-size-span-xxs);
  border-bottom: 2px dotted var(--color-border-tertiary);
}

.characteristic.is-style-row .characteristic__label {
  order: -2;
  margin: 0;
}

.characteristic.is-style-row .characteristic__label,
.characteristic.is-style-row .characteristic__value {
  white-space: nowrap;
}
