.logo-full {
  text-decoration: none;
  display: inline-block;
}

.logo-full__name {
  display: block;
  text-align: center;
  color: var(--color-elem-primary);
  font-family: var(--font-name-heading);
  font-size: var(--font-size-h3);
  font-weight: 700;
  letter-spacing: var(--font-letter-spacing);
}

.logo-full__name mark {
  position: relative;
  background: none;
}

.logo-full__name mark::after {
  content: "";
  display: block;
  position: absolute;
  left: 0.075em;
  right: 0.05em;
  top: 0.165em;
  height: 0.125em;
  background-color: var(--color-elem-accent-primary);
  border-radius: 50% 0 50% 0;
  transform: rotate(1deg);
}

.logo-full__description {
  display: block;
  margin-top: 2px;
  text-align: center;
  color: var(--color-elem-secondary-highlight);
  font-family: var(--font-name);
  font-size: var(--font-size-span-xxs);
  font-weight: 600;
  letter-spacing: var(--font-letter-spacing);
}

/* ---------- Adaptation ---------- */

@media screen and (max-width: 480px) {
  .logo-full__name {
    font-size: var(--font-size-h4);
  }

  .logo-full__description {
    font-size: calc(var(--font-size-span-xxs) - 2px);
  }
}
