.span {
  color: var(--color-elem-primary);
  letter-spacing: var(--font-letter-spacing);
  font-family: var(--font-name);
  font-size: var(--font-size-span-m);
  font-weight: 500;
}

.span.is-hilight {
  color: var(--color-elem-secondary-highlight);
}

.span.is-size-xs {
  font-size: var(--font-size-span-xs);
}

.span.is-size-s {
  font-size: var(--font-size-span-s);
}

.span.is-size-m {
  font-size: var(--font-size-span-m);
}

.span.is-size-ml {
  font-size: var(--font-size-span-ml);
}
