@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf);
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
